*{
    margin:0;
    padding: 0;
}
body{
    background-color: aliceblue;
}
/* Shared Color */
.btn-color{
    color: #4E47FF;
}
.btn-color2{
    background-color: #4E47FF;
    color: white;
}


/*Fonts Importing with CSS */

.raleway-fonts{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

/* Styling the Navigation bar  */
.head-container{
    height: 700px;
    width: 100%;
    border: 2px solid black;
    background-image: url("asset/Hero-bg.png");
    background-repeat: none;
    background-size: cover;
}
nav{
    height: 140px;
    width: 1240px;
    margin: 0 auto;
    border: 2px solid black;
    display: flex;
    align-items: center;
}
nav ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    list-style: none;
}

.logo{
    font-size: 34px;
    font-weight: 900;
    cursor: pointer;
}

.sign-up{
    padding: 12px 34px;
    border-radius: 10px;
    border: 1px solid #ffffff;
    color: white;
    cursor: pointer;
}

.sign-up:hover{
    border: 2px solid white;
}

/* hero-section Styling */
.hero-section{
    width: 910px;
    margin: auto;
    border: 2px solid black;
    margin-top: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-section-content{
    font-size: 65px;
    font-weight: bold;
    text-align: center;
}

.hero-section-button{
    margin-top: 40px;
}
.hero-section-button button{
    padding: 8px 20px;
    border-radius: 10px;
    border: none;
}

/* Styling the Section-actionbar*/
.section-actionbar{
    width: 1240px;
    height: 330px;
    margin: 120px auto 120px;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.section-actionbar-content{
    height: 205px;
    width: 520px;
}
.section-actionbar-image{
    height: 330px;
    width: 405px;
    background-image: url("asset/wc-mini.png");
    border-radius: 20px;
}
.content-styling{
    font-size: 24px;
    margin: 23px 0px;
}
.heading-style{
    font-size: 42px;
}
.btn2{
    padding: 6px 6px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

/* Styling the second Section productive-user  */
.productive-user{
    height: 270px;
    width: 1240px;
    margin: 120px auto 140px;
    background-color: #4d47ff25;
    /* border: 2px solid black; */
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.productive-user-container{
    height: 220px;
    width: 860px;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* .productive-user-content1, .productive-user-content2{
    width: 850px;
    margin: 0 auto;
    border: 2px solid black;
} */
.productive-user-content1-heading{
    font-size: 38px;
    text-align: center;
}
.productive-user-content2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box{
    color: #4E47FF;
    font-size: 80px;
    font-weight: bold;
}

/* Styling the third section our-user-feedback  */

.our-user-feedback{
    height: 350px;
    width: 1240px;
    /* border: 2px solid black; */
    margin: 137px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.feedback-heading{
    font-size: 42px;
    text-align: center;
}

.users{
    height: 240px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
}
.user{
    height: 80%;
    width: 240px;
    /* border: 2px solid black; */
    padding: 24px;
    background-color: white;
    border-radius: 8px;
}
.user-profile{
    display: flex;
    gap: 8px;
}
.user-image{
    margin-bottom: 24px
}
.user-profile{
    margin-top: 24px;
}
/* Styling Fourth-Focus-section */
.focus-section{
    height: 550px;
    width: 1000px;
    border: 2px solid black;
    margin: 137px auto 95px;
    padding: 70px 120px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
}
.focus-section-image{
    height: 365px;
    width: 840px;
    border: 2px solid black;
    background-image: url("asset/wc-big.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
}
.focus-section-heading{
    font-size: 50px;
    margin-bottom: 20px;
}
.focus-section-content{
    margin: 20px auto;
}
.btn03{
    margin: 20px auto;
    padding: 8px;
    border-radius: 8px;
    border: none;
}
/* Styling the last section  */
.form-section{
    width: 1240px;
    height: 630px;
    /* border: 2px solid black; */
    margin: 95px auto 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form-section-content{
    width: 530px;
    font-size: 97px;
    font-weight: bold;
}
.form-section-form{
    width: 490px;
}
label, input, textarea{
    display: block;
    margin-bottom: 16px;
    margin-top: 16px;
    border-radius: 8px;
    border: none;
}
.form-section-form input, .form-section-form textarea{
    width: 94.5%;
    padding: 12px;
}
.btn04{
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: none;
}